{% extends "main/wrapper.html" %}

{% block title %}about{% endblock %}

{% block content %}

    <section class="my_about_bg_section">
        <div class="container-fluid p-0 m-0">

            <div class="row justify-content-center m-0 p-0">

                <div class="my_book_card">
                    <div class="my_book_img_title">
                        <img src="/static/main/about_book_card2.jpg">
                    </div>
                    <div class="my_book_details">
                        <h2>Life</h2>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin.
                            Cras
                            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                            nisi
                            vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    </div>
                    <h3 class="text-center font-weight-light text-lowercase my_book_tip_click">Click me</h3>
                </div>

                <div class="my_book_card">
                    <div class="my_book_img_title">
                        <img src="/static/main/about_book_card1.jpg">
                    </div>
                    <div class="my_book_details">
                        <h2>Code</h2>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin.
                            Cras
                            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                            nisi
                            vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    </div>
                    <h3 class="text-center font-weight-light text-lowercase my_book_tip_click">Click me</h3>
                </div>

                <div class="my_book_card">
                    <div class="my_book_img_title">
                        <img src="/static/main/about_book_card3.jpg">
                    </div>
                    <div class="my_book_details">
                        <h2>Knowledge</h2>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin.
                            Cras
                            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
                            nisi
                            vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    </div>
                    <h3 class="text-center font-weight-light text-lowercase my_book_tip_click">Click me</h3>
                </div>

            </div>

            <div class="row justify-content-center m-0 p-0">
                <a href="https://www.facebook.com/people/Anton-Bondarenko/100011605655074" target="_blank">
                    <i class="fab fa-facebook fa-3x p-2"></i>
                </a>
                <a href="https://www.linkedin.com/in/antonmiracle/" target="_blank">
                    <i class="fab fa-linkedin fa-3x p-2"></i>
                </a>
                <a href="https://github.com/AntonMiracle" target="_blank">
                    <i class="fab fa-github fa-3x p-2"></i>
                </a>
            </div>

            <div class="row justify-content-center align-items-center  m-0 p-0">
                <i class="fas fa-envelope fa-3x p-2"></i>
                <h5 class="font-weight-light pl-2">b.anton.m.1986@gmail.com</h5>
            </div>

        </div>
    </section>

    <script type="text/javascript">
        $('.my_about_bg_section').mousemove(function (e) {
            var moveX = (e.pageX * -1 / 12);
            var moveY = (e.pageY * -1 / 6);
            $(this).css('background-position', moveX + 'px ' + moveY + 'px')
        })
    </script>
{% endblock %}