{% extends "main/wrapper.html" %}

{% block content %}
    <div class="container-fluid justify-content-sm-center">
        <div class="row justify-content-sm-center">
            <div class="col-xs-12 col-md-4 text-center">
                <img src="/static/main/own_foto.jpg" width="300" class="align-self-center mr-3" alt="...">
            </div>
            <div class="col-xs-12 col-md-8">
                <h1 class="text-primary text-center display-4">About</h1>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis
                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div>
    </div>
{% endblock %}