{% extends "main/wrapper.html" %}

{% block title %}
    main
{% endblock %}

{% block app_name %}
    Anton Bondarenko
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="card">
                        <img src="https://picsum.photos/id/20/400/300" class="card-img-top embed-responsive-item">
                    <div class="card-body text-center">
                        <h5 class="card-title">X-Multiply</h5>
                        <p class="card-text text-left">Learn multiplications, complete tasks, get experience and level up. Higher level - harder tasks.</p>
                        <a href="/multiply/learn" class="btn btn-primary  mybtn">Learn</a>
                        <a href="/multiply/tasks" class="btn btn-primary mybtn">Tasks</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}