{% extends "main/wrapper.html" %}

{% block title %}
    sign up
{% endblock %}

{% block content %}
    <div class="container-fluid text-center">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-md-3">
                <form action="" method="post" class="form-signin"
                      oninput='password.setCustomValidity(password.value != confirm_password.value ? "Passwords do not match" : "")'>

                    {% csrf_token %}
                    <h1>Sign up</h1>

                    <div class="form-group">
                        <label for="inputUsername">Name</label>
                        {% if form.username.errors %}
                            <div class="text-danger m-0 p-0" role="alert">
                                {% for error in form.username.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form.username }}
                        <small id="inputUsernameHelp">
                            only letters, numbers, and @/./+/-/_
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        {% if form.password.errors %}
                            <div class="text-danger m-0 p-0" role="alert">
                                {% for error in form.password.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form.password }}
                        <small id="inputPasswordHelp">
                            minimum 6 symbols
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="inputConfirmPassword">Confirm password</label>
                        <input type="password" class="form-control text-center border border-primary"
                               name="confirm_password" id="inputConfirmPassword"
                               placeholder="" required="" aria-describedby="inputConfirmPasswordHelp">
                        <small id="inputConfirmPasswordHelp">
                            need to match with password
                        </small>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        {% if form.email.errors %}
                            <div class="text-danger m-0 p-0" role="alert">
                                {% for error in form.email.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form.email }}
                        <small id="inputEmailHelp">
                            enter existing email
                        </small>
                    </div>
                    <button type="submit">Sign up</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}