@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    background-image: linear-gradient(to right, #09203f, #537895);
}

* {
    color: #e4efe9;
    font-family: 'Poppins', sans-serif;
}

img {
    image-orientation: from-image;
}

/*==== LINK ANIMATION ======*/
.my_link {
    position: relative;
    list-style: none;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 5px;
    display: inline-flex;
    transition: 0.5s;
    color: #e4efe9;
    letter-spacing: 2px;
}

li {
    list-style: none;
    display: inline-flex;
}

.my_link:hover {
    color: #09203f;
    text-decoration: none;
}

.my_link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #000;
    z-index: -1;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.my_link:hover:before {
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.5s;
}

.my_link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #000;
    z-index: -1;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.my_link:hover:after {
    transform-origin: right;
    transform: scaleX(1);
    transition: transform 0.5s;
}

.my_link:before,
.my_link:after {
    background: #e4efe9;
}

/*===============================*/
/*==== BUTTON ANIMATION ======*/

button {
    position: relative;
    padding: 8px 25px;
    color: #e4efe9;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    border: 1px solid #e4efe9;
    box-sizing: border-box;
    transition: 0.5s;
    background: none;
    letter-spacing: 2px;
}

button:hover {
    color: #09203f;
}

button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #e4efe9;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: left;
}

button:hover:before {
    transform: scaleX(1);
    transition: transform 0.5s;
    transform-origin: right;
}

button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #e4efe9;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.5s;
    transform-origin: right;
}

button:hover:after {
    transform: scaleX(1);
    transition: transform 0.5s;
    transform-origin: left;
}

/*===============================*/
/*========= MY TAGGLE MENU =========*/
.my_nav {
    width: 100%;
    background: transparent;
}

.my_menu_ul {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

.my_menu_li {
    list-style: none;
    display: inline-block;
    /*padding: 20px;*/

}

.my_toggle {
    width: 100%;
    padding: 10px 20px;
    background: transparent;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}

@media (max-width: 768px) {
    .my_toggle {
        display: block;
    }

    .my_menu_ul {
        width: 100%;
        display: none;
    }

    .my_menu_li {
        display: block;
        text-align: center;
    }

    .open_toggle_menu {
        display: block;
    }
}

/*=======================*/
/*======= ABOUT BG SECTION =======*/
.my_about_bg_section {
    min-height: 100vh;
    background: url('/static/main/about_bg.png') no-repeat;
    background-size: auto 160%;
    overflow: hidden;
}

/*=======================*/

/*========= MY BOOK CARD===========*/
.my_book_card {
    position: relative;
    margin: 50px;
    width: 300px;
    height: 400px;
    background: #09203f;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5);
}

.my_book_card:hover {
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5);
}

.my_book_card .my_book_img_title {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #537895;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}

.my_book_card .my_book_img_title img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my_book_card:hover .my_book_img_title {
    z-index: 1000px;
    transform: rotateY(-135deg);
}

.my_book_card .my_book_details {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}

/*====================*/
.my_social_icon{

}