{% extends "multiply/wrapper.html" %}

{% block multiply_content %}

    <div class="container-fluid ">


        <form class="h5 m-4" action="{% url 'tasks' %}">
            {% csrf_token %}
            {% if complete == True %}
                <div class="h5 row d-flex justify-content-center font-weight-normal">
                    <p class="m-1 text-success">WIN</p>
                </div>

                <div class="h5 row d-flex justify-content-center font-weight-normal">
                    <p class="m-1 text-success">+{{ success_amount|floatformat:0 }} Exp</p>
                </div>

                <div class="h5 row d-flex justify-content-center font-weight-normal">
                    <img src="/static/multiply/victory{{ success_num }}.gif" width="150" height="150"
                         class="d-inline-block align-top" alt="">
                </div>
            {% endif %}

            {% if complete == False %}
                <div class="h5 row d-flex justify-content-center font-weight-normal">
                    <p class="m-1 text-danger">LOOSE</p>
                </div>

                <div class="h5 row d-flex justify-content-center font-weight-normal">
                    <img src="/static/multiply/loose{{ loose_num }}.gif" width="150" height="150"
                         class="d-inline-block align-top" alt="">
                </div>

                <div class="h5 row d-flex justify-content-center font-weight-normal">
                    <p class="m-1 text-danger">-{{ loose_amount|floatformat:0 }} Exp</p>
                </div>
            {% endif %}

            <div class="m-4 row d-flex justify-content-center text-break align-items-center">
                <button class="btn mybtn btn-primary" id="submit_btn" type="submit">Next</button>
            </div>

            <div class="h5 row d-flex justify-content-center font-weight-normal">
                <p class="m-1 text-primary" id="timer"></p>
            </div>

        </form>

    </div>

    <script>
        var countDownDate = new Date()
        countDownDate.setSeconds(countDownDate.getSeconds() + 6)

        var x = setInterval(function () {

            var distance = countDownDate - new Date().getTime();
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            document.getElementById("timer").innerHTML = "Next in: " + seconds + "s ";

            if (distance < 1000) {
                clearInterval(x);
                $(document).ready(function () {
                    setTimeout(function () {
                        $("#submit_btn").trigger('click');
                    }, 0);
                });
            }
        }, 900);
        $(document).ready(function () {
            $('body').keypress(function (e) {
                if (e.keyCode == 13)
                    $('#submit_btn').click();
            });
        });
    </script>
{% endblock %}