{% extends "multiply/wrapper.html" %}

{% block multiply_content %}
    <div class="container-fluid justify-content-md-center align-items-center">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-md-6 text-center">
                <a class="btn mybtn btn-primary m-1" href="{% url 'learn' %}" style="width: 150px">Learn</a>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-md-6 text-center">
                <a class="btn mybtn btn-primary m-1" href="{% url 'test' %}" style="width: 150px">Test</a>
            </div>
        </div>
    </div>
{% endblock %}