{% extends "main/wrapper.html" %}

{% block title %}
    multiply
{% endblock %}

{% block app_name %}
    X-multiply
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="h1 row d-flex justify-content-center font-weight-normal">
            <table class="h5 text-center border border-primary">
                <tr>
                    <td class="mytd text-primary">Name:</td>
                    <td class="mytd">{{ username }}</td>

                    <td class="mytd text-primary">Lvl:</td>
                    <td class="mytd">{{ level }}</td>

                    <td class="mytd text-primary">Exp:</td>
                    <td class="mytd">{{ experience }}/{{ experience }}</td>
                </tr>
            </table>
        </div>
    </div>

    {% block multiply_content %}

    {% endblock %}
{% endblock %}